body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.game-canvas {
	background-color: #2a3f55;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.the-ui-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
	& * {
		pointer-events: auto;
	}
}
.left-ui-container {
	position: absolute;
	top: 2rem;
	left: 2rem;
	width: max-content;
	color: white;
	display: flex;
	gap: 0.5rem;
}
.game-log {
	position: relative;
	height: 20rem;
	width: 15rem;
	overflow-y: scroll;
	// -ms-overflow-style: none; /* Internet Explorer 10+ */
	// scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */

	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column-reverse;
	li {
		list-style: none;
		font-size: 1rem;
	}
	.log-info {
		color: white;
	}
	.log-error {
		color: red;
	}
	.log-warning {
		color: yellow;
	}
	.log-success {
		color: green;
	}
}
.left-bottom-ui-container {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	width: 20rem;
	color: white;
}
.bottom-ui-container {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	right: 2rem;
	margin-inline: auto;
	width: fit-content;
}
.buildings-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	list-style: none;
}
.building-button {
	width: 6rem;
	height: 6rem;
	padding: 0.5rem;
	border: 2px gray solid;
	color: #2a3f55;
	background: whitesmoke;
	text-align: center;
	font-size: 1.5rem;
	cursor: pointer;
	&.selected {
		background: gold;
		color: black;
		box-shadow: 0 0 10px 0 rgba(255, 215, 0, 0.5);
	}
}
