body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.game-canvas {
	background-color: #2a3f55;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.game-ui-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
}
