body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.game-canvas {
	background-color: #2a3f55;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.game-ui-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
	& * {
		pointer-events: auto;
	}
}
.right-ui-container {
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: max-content;
	color: white;
}
.resources-storage {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		font-size: 1.5rem;
	}
}
.cash-display {
	color: gold;
}
.bottom-ui-container {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	right: 2rem;
	margin-inline: auto;
	width: fit-content;
}
.buildings-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	list-style: none;
}
.building-button {
	width: 4rem;
	height: 4rem;
	padding: 1rem;
	border: 2px gray solid;
	color: red;
	background: whitesmoke;
	text-align: center;
	font-size: 1.5rem;
	cursor: pointer;
	&.selected {
		background: gold;
		color: black;
		box-shadow: 0 0 10px 0 rgba(255, 215, 0, 0.5);
	}
}
